@charset "utf-8";
/* CSS Document */

#principal {
	width: 90%;
	height: 90vh;
	font-family: 'Courier New', monospace;
	color: #666;
	font-size: 11px;
}

.linha {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	float: left;
	background-color: #FFF;
}

.coluna_01 {
	width: 5%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
	text-align: center;
}

.coluna_02 {
	width: 10%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
}

.coluna_03 {
	width: 20%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
}
