@charset "utf-8";
/* CSS Document */

/*------------------------------------*
    MENU
*------------------------------------*/
nav {
	position: fixed;
    clear:both;
    color:#FFF;
    height: 31px;
	width: 100%;
    padding: 10px;
    font-weight: normal;
    font-size: 1em;	
	margin-left: 230px;
	
}
nav ul {
    padding:0;
    margin:0;
    list-style: none;
	margin-left: 50px;
    float: left;
	
}
nav ul li {
    display: block;
    float: left;
    margin-right: 40px;
    position: relative;
}
nav ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 5px;
    display:block;
    margin:0;
    float: left;
}
nav ul li a:hover {
    background: #175871;
    color: #FFF;
	
}
nav .current-menu-item a {
    background: #FFF;
    color: #666;
}
nav ul li ul {
    display: none;
    float: none;
    left: 0;
    position: absolute;
    top: 100%;
    border: solid 1px #07435a;
}
nav ul li:hover > ul {
    display: block;
	width: 200px;
	margin: 0px;
}
nav ul li ul li,
nav ul li ul li a {
    float: none;
    background: #0e5d7c;
    color: #CCC;
}
nav ul li ul li a:hover {
    float: none;
    background: #FFF;
    color: #666;
}
nav ul li ul li {
    margin: 0;
}
nav ul li ul li ul {
    left: 100%;
    top: 0;
}